.place__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    width: 460px;
    margin: 0;
    padding: 0;
    grid-area: title;
}

@media screen and (max-width: 1279px) {
    .place__title {
        width: 440px;
    }
  }

  @media screen and (max-width: 1023px) {
    .place__title {
        width: 330px; /*подгонял ширину для переноса заголовка, как в макете*/
        font-size: 42px;
        line-height: 46px;
    }
  }

  @media screen and (max-width: 767px) {
    .place__title {
        min-width: 288px;
        width: calc(100% - 2*16px);
        font-size: 32px;
        line-height: 35px;
        margin-left: 16px;
        margin-right: 16px;
    }
  }